[Desktop Entry]
Name=Ansible Push
#Exec=gnome-terminal -- bash -c "{{ __un_install_path_exec }}; exec bash"
Exec=/bin/bash -c "{{ __un_install_path_exec }}; exec /bin/bash"

Icon={{ __un_install_path_icon }}
Terminal=true
Type=Application
Categories=System